@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5em;
    text-align: center;
}

html{
  background-color: lightgreen;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=checkbox]{
  padding: 5vmin;
}

input[type=submit]{
  padding: 1.5vmin;
}

/* .randMeal{ */
.output{
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0.3vmin 0 0 silver, -0.3vmin 0 0 silver */
}
